<configuration>

  <property name="APP_NAME" value="application"/>
  <property name="LOG_HOME" value="logs"/>

  <!-- appender -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- logger -->

  <logger name="learning.airt.concurrency" level="TRACE" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
